<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
        <title>spring-cache-test</title>
    </head>
    <body>
        <div>
            <h1>フラクタル画像生成処理時間</h1>
            <p th:text="${noCacheTime}"></p>
            <p th:text="${cacheTime}"></p>
            <a th:href="@{/}">トップページ</a>
            <a th:href="@{/Fractal/update}">フラクタル画像更新</a>
            <a th:href="@{/Fractal/delete}">フラクタル画像を削除して再取得</a>
        </div>
        <div>
            <h1>Fractal Image</h1>
            <img th:src="${fractalImage}" alt="Fractal Image">
        </div>
    </body>
</html>
